
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="header">
                <h4>Dashboard</h4>
            </div>
            <div class="grid-container">
                <div class="section-1">
                    <div>
                        <h6>Total Fees Expenses</h6>
                        <h5>{{data[0] | currency:'GBP'}}</h5>
                    </div>
                    <div>
                        <h6>Total Bank Account</h6>
                        <h5>{{data[1] | currency:'GBP'}}</h5>
                    </div>
                    <div>
                        <h6>Total Income</h6>
                        <h5>{{data[2] | currency:'GBP'}}</h5>
                    </div>
                </div>
                <div class="section-2">
                  <div class="chart-container">
                    <canvas id="doughnutChart"></canvas>
                  </div>
                </div>
                <div class="section-3">section 3</div>
                <div class="section-4">


                    <p>USD = {{currencyApi.data.USD}}</p>
                    <p>GBP = {{currencyApi.data.GBP}}</p>
                    <p>EUR = {{currencyApi.data.EUR}}</p>
                    <p>CAD = {{currencyApi.data.CAD}}</p>
                    
                    <div class="bar-chart-container">
                        <canvas id="barChart" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
