
<div class="header">
	<h4>Banks</h4>
</div>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
	<li [ngbNavItem]="1" [destroyOnHide]="true">
		<button ngbNavLink>Clear</button>
		<ng-template ngbNavContent>
			<app-clear></app-clear>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Santander</button>
		<ng-template ngbNavContent>
			<app-santander></app-santander>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Revelute</button>
		<ng-template ngbNavContent let-active>
			<app-revelute></app-revelute>
		</ng-template>
	</li>
	<li [ngbNavItem]="4">
		<button ngbNavLink>Actif</button>
		<ng-template ngbNavContent let-active>
			<app-aktif></app-aktif>
		</ng-template>
	</li>
	<li [ngbNavItem]="5">
		<button ngbNavLink>Mano</button>
		<ng-template ngbNavContent let-active>
			<app-mano></app-mano>
		</ng-template>
	</li>
	<li [ngbNavItem]="6">
		<button ngbNavLink>Convera</button>
		<ng-template ngbNavContent let-active>
			<app-convera></app-convera>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>